@using Web.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="page-heade">
     <h2> User projects</h2>
</div>

    <div class="container">
        @(Html.Kendo().Grid<User>()
        .Name("Users")
        .Columns(columns =>
        {
            columns.Bound(x => x.FirstName).Title("First Name");
            columns.Bound(x => x.LastName).Title("Last Name");

        }
        )
        .Scrollable()
        .DataSource(datasource => datasource.Ajax()
          .Read(read => read.Action("GetUsers", "User")))
        )

        <input id="ihs" type="text"/>
    </div>
<script>
    $(document).ready(function () {
        console.log($("#ihs").val());
    });
</script>