
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="page-heade">
    <h2> User projects</h2>
</div>

<div class="container">
    @(Html.Kendo().Grid<User>()
    .Name("Users")
    .Columns(columns =>
    {
        columns.Bound(x => x.FirstName).Title("First Name");
        columns.Bound(x => x.LastName).Title("Last Name");

    }
    )
    .Scrollable()
    .DataSource(datasource => datasource.Ajax()
      .Read(read => read.Action("GetUsers", "User")))
    .Pageable(pager => pager.Refresh(true))
    )

    <input id="ihs" type="text" />
</div>