@using UI.Models
@model UserProject
@{
    ViewBag.Title = "UserProject";
}



<div class="container">
    <div class="row justify-content-md-center">
        <form id="userForm">
            <div class="form-group">
                <div class="col-md-3">
                    @Html.LabelFor(x => x.User)
                </div>
                @(Html.Kendo().DropDownListFor(x => x.User)
                 .Name("Users")
                 .DataTextField("FirstName")
                 .DataValueField("Id")
                 .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("GetUsers", "UserProject").Type(HttpVerbs.Post);
                        });
                    })
                 .Events(e =>
                    {
                        e.Change("onProjectsChange()").DataBound("onDataBound");
                    })

                )
            </div>
        </form>
    </div>
</div>

<div class="container">
    @(Html.Kendo().Grid<Project>()
    .Name("Projects")

    .Columns(columns =>
    {
        columns.Bound(x => x.Id).Title("Project Number");
        columns.Bound(x => x.StartDate).Title("Start Date").Format("{0:MM/dd/yyyy}");
        columns.Bound(x => x.EndDate).Title("End Date").Format("{0:MM/dd/yyyy}");
        columns.Bound(x => x.Credits).Title("Credits");
    }
    )
    .Scrollable()
    .DataSource(datasource => datasource.Ajax()
      .AutoSync(false)
      .Model(model =>
              {
          model.Id(x => x.Id);
          model.Field(x => x.StartDate);
          model.Field(x => x.EndDate);
          model.Field(x => x.Credits);

      })
      ))
</div>


@Scripts.Render("~/Scripts/UserProject.js")
